.product-shipment {
  &.is-open {
    .product-section,
    .product-section-dividor:last-child {
      display: block;
    }

    > .product-section-header {
      display: none;
    }
  }

  @include mobile-only {
    .product-section,
    .product-section-dividor:last-child {
      display: none;
    }
  }
}
