.lnb {
  $lnb-link-padding: 8px;
  $grid-margin: $sm-margin + $gutter / 2;

  @include no-scrollbar;
  overflow-x: auto;
  overscroll-behavior: contain;

  &-list {
    @include inline-flexbox(start);
    border-bottom: 1px solid $border;
    height: 40px;
    padding: 0 #{$grid-margin - $lnb-link-padding};
    margin-left: -#{$grid-margin};
    white-space: nowrap;
  }

  &-item {
    a {
      @include inline-flexbox;
      @include text-style(13, $dark);

      font-weight: 700;
      height: 40px;
      padding: 0 $lnb-link-padding;
      border-bottom: 2px solid transparent;
    }

    &.is-active {
      a {
        color: $blue;
        border-bottom-color: $blue;
      }
    }
  }
}
